<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>

        <p>
        <hr>
        English version at the end.
        <hr>

        <p>Bonjour {{ firstName }} {{ lastName }},</p>

        <p>Nous n'avons à ce jour pas reçu de nouvelles de votre part pour la validation de votre inscription.</p>

        <p>Si vous êtes toujours motivé pour participer au GSDF 2015, merci d'effectuer le paiement qui vous a été demandé pour valider votre inscription ou de nous faire part des éventuelles difficultés que vous rencontrez avant le {{ datePayment|date("d/m/Y") }}.</p>

        <p>Cordialement,</p>

        <p>L'équipe du GSDF</p>

        <p>
        <hr>
        English version
        <hr>

        <p>Hello {{ firstName }} {{ lastName }},</p>

        <p>To date we have not received confirmation of your registration.</p>

        <p>If you still wish to participate in the GSDF 2015, please send us your payment to confirm your registration, or inform us why you have not done so before the {{ datePayment|date("m/d/Y") }}.</p>

        <p>Regards,</p>

        <p>The GSDF Team</p>
    </body>
</html>
