{% extends "GSFestivalBundle::layout.html.twig" %}

{% block title %}
    Inscription {{ registration.level.festival.name }} - {{ parent() }}
{% endblock %}

{% block gsfestival_body %}
    <h3>Inscription</h3>

    <address>
        <strong>{{ registration.person.firstName }} {{ registration.person.lastName }}</strong><br>
        <a href="mailto:#">{{ registration.person.email }}</a>
    </address>
    
    <dl class="dl-horizontal">
        <dt>Niveau</dt>
        <dl>{{ registration.level.name }}</dl>
        <dt>Role</dt>
        <dl>{% if registration.role %} Guideur/Cavalier {% else %} Suiveur/Cavaliere {% endif %}</dl>
        <dt>Status</dt>
        <dl>{{ registration.status }}</dl>
        <dt>Restant due</dt>
        <dl>{{ registration.remainingPayment }}</dl>
    </dl>

{% endblock %}
