{% extends "GSPersonBundle::layout.html.twig" %}

{% block title %}
    Supprimer une personne - {{ parent() }}
{% endblock %}

{% block gsfestival_body %}

    <h2>Supprimer une personne</h2>

    <p>
        Etes-vous certain de vouloir supprimer la personne "{{ person.firstName }} {{ person.lastName }}" ?
    </p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <a href="{{ path('gs_person_view', {'id': person.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour a la personne
        </a>
        {{ form_widget(form.delete, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
